<html>
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Color theme for statusbar (Android only) -->
        <meta name="theme-color" content="#2196f3">
        <!-- Your app title -->
        <title>Raspberry GPIO Demo</title>
        <!-- Path to Framework7 Library Bundle CSS -->
        <link rel="stylesheet" href="../static/framework7.bundle.min.css">
        <!-- Path to your custom app styles-->
        <!-- <link rel="stylesheet" href="path/to/my-app.css"> -->
      </head>
    <body>
        <!-- App root element -->
        <div id="app">

            <!-- Your main view, should have "view-main" class -->
            <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">
                <div class="block-title">Raspberry Toggle</div>
                <div class="list simple-list">
                <ul>
                    <!-- Divider -->
                    <li class="item-divider">4, 5, 6</li>
                    <li>
                        <span>GPIO 4</span>
                        <label class="toggle toggle-init color-blue">
                            <input type="checkbox" checked value='4'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 5</span>
                        <label class="toggle toggle-init color-blue">
                            <input type="checkbox" checked value='5'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 6</span>
                        <label class="toggle toggle-init color-blue">
                            <input type="checkbox" checked value='6'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <!-- Divider -->
                    <li class="item-divider">12, 13, 16, 17, 18, 19</li>
                    <li>
                        <span>GPIO 12</span>
                        <label class="toggle toggle-init color-red">
                            <input type="checkbox" checked value='12'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 13</span>
                        <label class="toggle toggle-init color-red">
                            <input type="checkbox" checked value='13'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 16</span>
                        <label class="toggle toggle-init color-red">
                            <input type="checkbox" checked value='16'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 17</span>
                        <label class="toggle toggle-init color-red">
                            <input type="checkbox" checked value='17'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 18</span>
                        <label class="toggle toggle-init color-red">
                            <input type="checkbox" checked value='18'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <li>
                        <span>GPIO 19</span>
                        <label class="toggle toggle-init color-red">
                            <input type="checkbox" checked value='19'>
                            <span class="toggle-icon"></span>
                        </label>
                    </li>
                    <!-- Divider -->
                    <!-- <li class="item-divider">20, 21, 22, 23, 24, 25, 26, 27</li> -->
                </ul>
                </div>
            </div>
        </div>
        <!-- Path to Framework7 Library Bundle JS-->
        <script type="text/javascript" src="../static/framework7.bundle.min.js"></script>
        <!-- Path to your app js-->
        <script type="text/javascript" src="../static/my-app.js"></script>
    </body>
</html>